/* start side bar */
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    
}
.offcanvas {
    width: 245px !important;
}

.nav-tab:hover{
    background-color: #f5f5f5;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}
.nav-tab-home:hover .home-svg,
.nav-tab-search:hover .search-svg,
.nav-tab-explore:hover .explore-svg,
.nav-tab-reels:hover .reels-svg,
.nav-tab-messenger:hover .messenger-svg,
.nav-tab-notifications:hover .notifications-svg,
.nav-tab-create:hover .create-svg{
    scale: 1.2;
    transition: 0.3s;
}
/* end side bar */


.im-pro ,.post-img{
    width: 50px;
    height: 50px;
}
.im-com{
    width: 35px;
    height: 35px;
}

/* TODO: Login Form */
.or-container {
    text-align: center;
    position: relative;
}

.or-word:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    width: 150px;
    height: 1px;
    background-color: lightslategray;
}

.or-word:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    width: 150px;
    height: 1px;
    background-color: lightslategray;
}
/* TODO: Login Form */

/* ? Product Desc Sec */
.icon{
    width: 25px;
}
.followBtn{
    text-decoration: none;
    color: black;
}
.followBtn:hover{
    color:#B0B0B0;
}
.comments_sec{
    height: 55%;
    overflow-y:auto;
}
.likes-img{
    width: 30px;
    height: 30px;
}
/* ? */
